*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
main{
    margin:  auto ;
    
    text-align: center;
}

nav{
    background-color:cadetblue;
    color: #f0f0f0;
    padding:3% 7%;
    margin: 0 0 30px 0;
    border-radius: 0 0 1rem 1rem;
   
   }
   .nav-brandName{
     display: inline;
     text-align: left;
     position: relative;
    right: 40%;
   }
   a{
     text-decoration: none;
       color: #fafafa;
       font-weight: 400;
   }
   .nav-link{
     color: #fafafa;
     padding: 0.5rem 1em;
     font-size: larger;
   
   }
   
   .navigation li{
   display:  inline;
   }
    .navigation ul{
     text-align: right;
     display: inline;
     position: absolute;
     right: 5%;
   }

h1{
    display: block;
    padding: 1rem;
    margin:2rem

}

.input-label{
    display: block;
    font-size: large;
    font-weight: 600;
}

.sides, .angles {
    font-size: 14px;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
}

.calculate ,.check ,#btn-submit{
    display: block;
    padding:0.7rem 1rem ;
    
    border: none;

    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: 1rem auto;
}

.quiz-container{
    margin:0.75rem auto
}

.options{
    margin: 0.50rem;
}

.msg-score{
    font-size: larger;
    font-weight: 600;
   display: block;
   margin: 1.75rem;
}

i{
    font-size: 32px;
    color:cadetblue;
    margin: 0.5rem;
}

footer {
    position: absolute;
    bottom: 0%;
    right: 50%;
    transform: translate(50%, -50%);
    
  }

  .icons li{
    display: inline;
    padding:0 .5rem;
  }